* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  height: 100%;
}

#background {
  background: url('./fruits.jpg') 0 no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

a {
  text-decoration: none;
}

h1 {
  padding: 15px 0;
}

p {
  margin: 10px 0;
}

div.navbar {
  color: #020202;
  background-color: #1ecca0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Yellowtail';
  color: white;
  font-size: 2rem;
  margin-left: 20px;
}

.subtitle {
  font-family: 'Yellowtail';
  font-size: 1.2rem;
  color: white;
  display: block;
  margin: 0;
  padding: 0rem 1rem;
}

.nav-links {
  right: 10px;
  top: 0px;
  margin-right: 10px;
}

.nav-links li {
  display: inline-block;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 0;
}

.nav-link {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.current_user {
  color: lightgray;
}

.title:hover, #logout:hover {
  color: deeppink;
}

button {
  background-color: white;
  border: 1px solid #1ecca0;;
  border-radius: 5px;
  color: #0e7058;
  font-weight: bold;
  padding: 10px 40px;
}

button:hover {
  cursor: pointer;
  background-color: #1ecca0;
  color: white;
}

.form-control {
  display: inline-block;
  margin: 10px;
  height: 30px;
  width: 200px;
  padding: 10px;
}

main {
  /* Scroll horizontally as needed */
  overflow-x: auto;
  text-align: center;
  padding: 20px;
}

.meals {
  margin-left: 30px;
  width: 70%;
}

.day {
  background-color: lightyellow;
  border: 3px solid rgb(182, 182, 31);
  padding: 10px 30px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  border: 2px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.mealtype {
  margin-bottom: 15px;
  text-decoration: underline;
}

.col .edit {
  background-color: white;
  border: 1px dotted gray;
  font-size: 1rem;
  margin: 5px;
  padding: 10px;
  overflow: auto;
  text-align: left;
  word-break: break-all;
}

div.col div.edit-lg {
  height: 50px;
}

.recipe-link {
  color: lightgray;
}

button.save {
  display: block;
  margin: 0 auto;
}

.ingredients, #edit-page {
  background-color: lightyellow;
  border: 3px solid rgb(182, 182, 31);
  overflow: auto;
}

.ingredients {
  position: fixed;
  right: 0;
  margin-top: 15px;
  margin-right: 0;
  height: 80%;
  width: 25%;
}

#edit-page {
  height: 100%;
  max-width: 800px;
  margin: auto;
  width: 80%;
}

.list-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #036950;
  padding: 10px 0;
  margin-top: 10px;
}

.ingredients input {
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 200px;
  padding: 15px 5px;
  overflow: auto;
}

button.add-item {
  padding: 8px 15px;
}

.ing-list {
  margin: 10px;
  padding: 0;
}

.ing-list li {
  background-color: lightyellow;
  display: block;
  width: 70%;
  border: 1px dashed green;
  padding: 5px;
  margin: 5px auto;
  max-width: 300px;
  overflow: auto;
}


.material-icons {
  font-size: 1rem;
  float: right;
}

span.material-icons.delete:hover {
  cursor: pointer;
}

p.error {
  color: red;
}

footer {
  color: #aaaaaa;
  margin: 20px auto;
  text-align: center;
}
