{% extends "layout.html" %}

{% block title %}
  Meal Planner
{% endblock %}

{% block main %}
<!-- Ingredients bar-->
<div class='ingredients'>
    <h3 class='list-title'>Ingredients I Have</h3>
    <button><a href='/ingredients'>Edit</a></button>
    {% for ingredient in ingredients %}
    <ul class='ing-list'>
        <li class='ing'><span>{{ ingredient }}</span></li>
    </ul>
    {% endfor %}
</div>
<div class='container meals'>
    <h1>My Meal Plan</h1>
    {% for date in dates %}
    <div class="container day">
        <h2 class='date'>{{ date | safe }}</h2>
        <div class="row">
            <div class="col">
                <h3 class='mealtype'>Breakfast</h3>
                <p>Name of Meal</p>
                <div contentEditable="true" class='edit' name='name'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Breakfast' %}
                                {{ row['name'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Key Ingredients</p>
                <div contentEditable="true" class='edit edit-lg' name='key-ingred'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Breakfast' %}
                                {{ row['key_ingred'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Recipe Link</p>
                <div contentEditable="true" class='edit' name='recipe'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Breakfast' %}
                                {{ row['recipe'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <a class='recipe-link' href='#'>Recipe Link</a>
                <button class='save' type='submit'>Save</button>
            </div>
            <div class="col">
                <h3 class='mealtype'>Lunch</h3>
                <p>Name of Meal</p>
                <div contentEditable="true" class='edit' name='name'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Lunch' %}
                                {{ row['name'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Key Ingredients</p>
                <div contentEditable="true" class='edit edit-lg' name='key-ingred'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Lunch' %}
                                {{ row['key_ingred'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Recipe Link</p>
                <div contentEditable="true" class='edit' name='recipe'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Lunch' %}
                                {{ row['recipe'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <a class='recipe-link' href='#'>Recipe Link</a>
                <button class='save' type='submit'>Save</button>
                </form>
            </div>
            <div class="col">
                <h3 class='mealtype'>Dinner</h3>
                <p>Name of Meal</p>
                <div contentEditable="true" class='edit' name='name'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Dinner' %}
                                {{ row['name'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Key Ingredients</p>
                <div contentEditable="true" class='edit edit-lg' name='key-ingred'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Dinner' %}
                                {{ row['key_ingred'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p>Recipe Link</p>
                <div contentEditable="true" class='edit' name='recipe'>
                    {% if meals %}
                        {% for row in meals %}
                            {% if row['date'] == date and row['meal'] == 'Dinner' %}
                                {{ row['recipe'] }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <a class='recipe-link' href='#'>Recipe Link</a>
                <button class='save' type='submit'>Save</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    let recipes = document.querySelectorAll('div[name="recipe"]');
    let saveBtns = document.querySelectorAll('.save');

    function onRecipeBlur(e) {
      this.nextElementSibling.setAttribute('href', this.textContent);
      this.nextElementSibling.style.color = 'blue';
      this.style.backgroundColor = 'gray';
    }

    function onRecipeFocus(e) {
      this.style.backgroundColor = 'white';
    }

    function onSave(e) {
      let data = {
        'name': this.parentElement.querySelector(".edit[name='name']").textContent.trim(),
        'key_ingred': this.parentElement.querySelector(".edit[name='key-ingred']").textContent.trim(),
        'recipe': this.parentElement.querySelector(".edit[name='recipe']").textContent.trim(),
        'meal':this.parentElement.firstElementChild.textContent.trim(),
        'date': this.closest('.row').previousElementSibling.textContent.trim()
      };
      fetch('/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => {
        if (response.ok) this.style.backgroundColor = "#1ecca0";
      });
    }

    recipes.forEach(recipe => {
      recipe.addEventListener('blur', onRecipeBlur);
      recipe.addEventListener('focus', onRecipeFocus);
    });

    saveBtns.forEach(btn => btn.addEventListener('click', onSave));
</script>
{% endblock %}
