{% extends "layout.html" %}

{% block title %}
    Ingredient Edit
{% endblock %}

{% block main %}
<a href='/' class='back'>Back to meal plan</a>

<div id='edit-page'>
  <h3 class='list-title'>Ingredients I Have</h3>
  <form action='/ingredients' method='post'>
    <input class='form-control' autocomplete='off' name='addItem' placeholder='Add Ingredient'>
    <button class='add-item' type='submit'>Add</button>
  </form>
  {% for ingredient in ingredients %}
    <ul class='ing-list'>
      <li>
        <span class='ing-name'>{{ ingredient }}</span>
        <span class="material-icons delete">cancel</span>
      </li>
    </ul>
  {% endfor %}
</div>
<script>
  let deleteBtns = document.querySelectorAll('.delete');

  function onDelete(e) {
    let data = { 'delete': this.previousElementSibling.textContent };
    fetch('/ingredients', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (response.ok) this.parentElement.remove();
    });
  }

  deleteBtns.forEach(btn => btn.addEventListener('click', onDelete));
</script>
{% endblock %}
