<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>{% block title %}Meal Planner{% endblock %}</title>
      <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
      <div class="navbar">
        <div class='brand'>
          <a class="title" href="/">Meal Planner</a>
          <h2 class='subtitle'>Plan what to cook this week.</h2>
        </div>
        <div class="nav-links">
          {% if session.username %}
            <ul>
              <li class="current_user">Signed in as {{ session.username }}</li>
              <li><a id="logout" class="nav-link" href="/logout">Log Out</a></li>
            </ul>
          {% else %}
            <ul>
              <li><a class="nav-link" href="/register">Create Account</a></li>
              <li><a class="nav-link" href="/login">Log In</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <main class="container">
        <div id='background'></div>
        {% block main %}{% endblock %}
      </main>
      <footer>Created by Julia Martin</footer>
  </body>
</html>
